body {
    margin: 0px;
    font-family: Montserrat, sans-serif;
}

.cabecalho {
    background: linear-gradient(45deg, white, #3f51b5);
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    margin-left: 7px;
    margin-right: 7px;
    border: 1px solid blue;
    padding: 2px;
}